body {
	height: 100%;
	margin: 0px;
	font-family: "Jura";
	color: #11CEF8;
	background-image: url('blue_cocktail.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#navBar {
	top: 0px;
	position: fixed;
	display: flex;
	width: 100%;
	height: 12%;
	min-height: 60px;
	background: rgba(0, 0, 0, 0.6);
}

#links {
	flex: 90%;
	display: flex;
	justify-content: flex-end;
	vertical-align: middle;
}

#logo {
	vertical-align: middle;
	position: relative;
	height: 28%;
	flex: 10%;
	padding: 2.4%;
}

.navBox {
	padding: 3%;
	margin-right: 5%;
	font-size: calc(16px + 0.6vw);
}

a {
	text-decoration: none;
	color: #11CEF8;
}

a:hover {
	color: #f7e56f;
}

#titleText {
	margin: 34% 12%;
	width: 500px;
}

#forms {
	text-align: center;
	padding: 6% 2%;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 18% 22%;
	display: flex;
}

#errorMessage {
	margin: 27% 25%;
	padding: 1%;
	padding-bottom: 3%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
}

#signup {
	flex: 50%;
	padding: 12%;
	text-align: center;
}

#login {
	padding: 12%;
	flex: 50%;
	text-align: center;
	border-right: 1px solid white;
}

h1 {
	position: absolute;
	text-align: center;
	left: 27%;
	font-size: 2.26vw;
}

h3 {
	margin-bottom: 20%;
	font-size: 1.8vw;
}

h5 {
	font-size: 1.1vw;
	font-weight: 200;
	margin-bottom: 0.6vw;
}

.button {
	font-family: "Jura";
	font-weight: 600;
	margin-top: 14px;
	padding: 4px 16px;
	background-color: #11CEF8;
	border: outset;
	border-width: 1px;
}

.button:hover {
	font-family: "Jura";
	font-weight: 600;
	margin-top: 14px;
	padding: 4px 16px;
	background-color: #11CEF8;
	border: inset;
	border-width: 1px;
}

.invalid {
	font-size: 1vw;
}

@media only screen and (max-width: 1100px) {

	#navBar {
		height: 6%;
	}

	#logo {
		padding-top: 3.8%
	}

	.navBox {
		font-size: calc(10px + 1.6vw);
		padding-top: 3vw;
	}


	body {
		background-image: url('phone_cocktail.jpg');
	}

	#forms {
		display: block;
		text-align: center;
		padding: 8% 6%;
		background-color: rgba(0, 0, 0, 0.7);
		margin: 32% 16%;
	}

	#signup {
		padding: 4%;
		text-align: center;
	}

	#login {
		padding: 4%;
		text-align: center;
		border-right: none;
		border-bottom: 1px solid white;
	}

	h5 {
		font-size: 1.7vw;
		font-weight: 200;
		margin-bottom: 8px;
	}

	h3 {
		margin-bottom: 6%;
		font-size: 2.2vw;
	}

	h1 {
		position: absolute;
		left: 20%;
		font-size: 3vw;
	}

	.button {
		padding: 4px 26px;
	}

	.button:hover {
		padding: 4px 26px;
	}
}


